<?xml version="1.0" encoding="UTF-8" ?>
<beans>

    <bean class="cn.stanoswald.springframework.test.event.ContextRefreshedListener"/>
    <bean class="cn.stanoswald.springframework.test.event.ContextClosedListener"/>
    <bean class="cn.stanoswald.springframework.test.event.CustomEventListener"/>

</beans>