<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="userService" class="cn.stanoswald.springframework.test.bean.UserService" scope="prototype">
        <property name="uId" value="10002"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="cn.stanoswald.springframework.test.bean.ProxyBeanFactory"/>

    <bean id="fooFactory" class="cn.stanoswald.springframework.test.bean.FooFactory"/>

    <bean id="foo" class="cn.stanoswald.springframework.test.bean.Foo" scope="singleton">
        <property name="bar" value="from ioc container"/>
    </bean>

</beans>